@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  @apply m-0 p-0 box-border min-w-0 outline-none active:outline-none focus:outline-none hover:outline-none text-[16px] md:text-[20px] font-normal list-none;
}

/* backgrounds  */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  @apply max-w-[1216px] mx-auto px-[12px];
}

.section {
  @apply py-[148px];
}

h1 {
  @apply text-[48px] xl:text-[52px] 2xl:text-[60px];
  span {
    @apply text-[40px] xl:text-[52px] 2xl:text-[60px];
  }
}

h2 {
  @apply text-[36px] xl:text-[40px] 2xl:text-[48px];
  span {
    @apply text-[36px] xl:text-[40px] 2xl:text-[48px];
  }
}

button {
  @apply min-w-[196.55px] min-h-[33px] text-[17.88px] text-center flex items-center justify-center w-full rounded border-2 px-8 font-medium;
}

.clip-path-curve {
  clip-path: ellipse(60% 100% at 50% 100%);
}

@media (max-width: 600px) {
  .clip-path-curve {
    clip-path: ellipse(80% 100% at 50% 100%);
  }
}

@keyframes slow__ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
